body {
  background-color: powderblue;
}
h1 {text-align: center;
  color: blue;
}
img{display: block;
  margin-left: auto;
margin-right: auto;
width: 10%}

ul {margin:auto;
  width: 300PX;
    border-style: solid;
  }
